<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

<br>
<br>
<div class='jumbotron row blue-color'>
  <div class='container'>
  <div class='jumbotron row'>
    <form action="/doctor/" method="POST" id="delform">
      <label>
        City to delete doctor 
      </label>
      <input type='text' id="delcity"> 
      <input type='submit' alt="Submit" name='Delete' onclick="changeDel()" >
    </form>
  </div>
  </div>
  <div class='container'>
  <div class='jumbotron row'>
    <form action="/doctor/" method="POST" id="updateform">
      <label>
        City to update doctor
      </label>
      <input type='text' id="updatecity"> 
      <input type='submit' alt="Submit" name='Update' onclick="changeUpdate()" >
    </form>
  </div>
  </div>
  <div class='container'>
  <div class='jumbotron row'>
    <form action="/doctor/" method="POST" id="readform">
      <label>
        City to read doctor
      </label>
      <input type='text' id="readcity"> 
      <input type='submit' alt="Submit" name='Read' onclick="changeRead()">
    </form>
  </div>
  </div>
  <div class='container'>
  <div class='jumbotron row'>
    <form action="/add_doctor" method="GET">
      <label>
        Click to insert doctor information:
      </label>
      <input type='submit' alt="Submit" name='Insert'>
    </form>
  </div>
  </div>
</div>


  <script type="text/javascript">
    function changeDel(){
        document.getElementById("delform").action = document.getElementById("delform").action +1+"/" + document.getElementById("delcity").value;
    }
    function changeUpdate(){
      document.getElementById("updateform").action = document.getElementById("updateform").action + 2 + "/" + document.getElementById("updatecity").value;
    }
    function changeRead(){
        document.getElementById("readform").action = document.getElementById("readform").action  +0 +"/"+document.getElementById("readcity").value;
        alert(document.getElementById("readform").action)
    }

  </script>




{% endblock %}