<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

<style type="text/css">
  #main{
    background-color: grey ;
    color: black;
    text-align: center;
    width: 60%;
    margin-left: 20%;
  }
  #centre{
    font-size: 25px;
  }
  #details{
    margin-top: 5%;
    font-size: 20px;
  }
</style>

<div class='container'>
  
  <div id="main">
    <div id="centre">
      Update Page
    </div>
    <div id="details">
      Enter Doctor Details:
    </div>
    <form action="/update/" method="post" name="store" id="formId">
      <p>
        Name:{{ store.name(size=80) }}<br>
      </p>

       <p>
        Specialization:{{ store.specialization(size=80) }}<br>
      </p>
      
      <p>
        Area:{{ store.area(size=80) }}<br>
      </p>
      
      <p>
        City:{{store.city(size=80) }}<br>
      </p>

      <p>
        Education:{{ store.education(size=80) }}<br>
      </p>
      <p>
        Expertise:{{ store.expertise(size=80) }}<br>
      </p>
      <p>
        Experience:{{ store.experience(size=80) }}<br>
      </p>
      <p>
        Email:{{ store.email(size=80) }}<br>
      </p>
      <p>
        Description:{{ store.description(size=80) }}<br>
      </p>
     
      <p>
        Country:{{store.country(size=80) }}<br>
      </p>

      <p>
        Address:{{store.completeaddress(size=80) }}<br>
      </p>

      <p>
        Fee:{{store.fee(size=80) }}<br>
      </p>

      <p>
        Timings:{{store.timings(size=80) }}<br>
      </p>

       <p>
        Phone Number:{{store.phone_number(size=80) }}<br>
      </p>

      <p><input type="submit" value="Store" onclick="changeURL()" ></p>
  </form>
</div>  
  <script type="text/javascript">
    function changeURL(){
        alert({{doctor_data.id}})
        document.getElementById("formId").action += {{doctor_data.id}} ;
        alert(document.getElementById("formId").action)
    }

  </script>


{% endblock %}